root = true

[{.*rc,.*rc.js,*.toml,*.yml,package.json,package-lock.json,src/content/*.json}]
indent_style = space
indent_size = 2
insert_final_newline = false

[{package.json,package-lock.json}]
insert_final_newline = true
