@use '@nirazul/scss-utils' as utils;
@use '@/assets/scss/util/transition' as trs;

@mixin base {
  @include trs.common-props;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 2px;
  touch-action: manipulation;
}
