$icon-sizes: (
  'small': 16px,
  'medium': 24px,
  'large': 36px,
);

.c-ui-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &.c-ui-icon--colorize {
    fill: currentColor;
  }

  // Iterate over the `$icon-sizes` map
  @each $key, $value in $icon-sizes {
    &.c-ui-icon--#{$key} {
      width: $value;
      height: $value;
    }
  }
}
