@use '@/assets/scss/util/_global.scss' as global;
@use '@/assets/scss/util/arrange/_arrange.scss' as arrange;
@use '@/assets/scss/base/_mq.scss' as mq;

$container-sizes: (
  (
    mq: '<md',
    container-size: none,
    edge: 16px,
  ),
  (
    mq: ('md', 'lg'),
    container-size: none,
    edge: 40px,
  ),
  (
    mq: '>lg',
    container-size: none,
    edge: 60px,
  ),
);

.s-container--full-width {
  @include arrange.define-container-root;
  @include arrange.define-container($container-sizes);

  .s-container__container {
    @include arrange.define-container-content;
  }
}
