@use '@/assets/scss/base/_mq.scss' as mq;
@use '@/assets/scss/util/_layer.scss' as layer;
@use '@/assets/scss/util/_global.scss' as global;
@use '@/assets/scss/util/color/_color.scss' as col;

.s-layout-game {
  --s-layout--sidebar-width: #{global.$sidebar-width};
  --s-layout--dialog-box-height: 0px;
  color: col.$brand-yellow;
  background-color: col.$monochrome-lead;

  &.s-layout-game--has-header {
    --s-layout--dialog-box-height: #{global.$dialog-box-height};
  }
}

.s-layout-game__header {
  z-index: layer.z-index('header');
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.s-layout-game__main {
  flex: 1 0 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: var(--s-layout--dialog-box-height);
}

.s-layout-game__viewer {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 100%;
  background-color: col.$monochrome-magnet;
}

.s-layout-game__viewer-frame {
  overflow: hidden;
  z-index: layer.z-index('viewer-frame');
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: calc(100% - var(--s-layout--sidebar-width));
  height: calc(100% - var(--s-layout--dialog-box-height));
}

.s-layout-game__dialog-box {
  z-index: layer.z-index('dialog-box');
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: global.$dialog-box-height;
}
