.s-app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.s-app__main {
  display: flex;
  flex: 1 0 auto;
}

.s-app__wrapper {
  position: relative;
  z-index: 1;
}
